@import "tailwindcss";

@theme {
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-brand-primary: #034A4A;
  --color-brand-accent: #E87967;
  --color-emerald-400: #f09587;
  --color-emerald-500: #E87967;
  --color-emerald-600: #d66453;
}

body {
  background-color: var(--color-brand-primary);
  color: #F1F5F9;
  font-family: var(--font-body);
  margin: 0;
  min-height: 100vh;
}
